<ul class="radio-button-list">
  {{#each option in mappedOptions}}
    <li>
      {{radio-button id=option.id value=option.value name=view.name selection=view.selection required=view.required}}
      <label {{bind-attr for="option.id"}}>
        <img {{bind-attr src="option.label"}} />
      </label>
    </li>
  {{/each}}
</ul>
