{{#each option in mappedOptions}}
  {{radio-button id=option.id value=option.value name=view.name selection=view.selection required=view.required}}
  <label {{bind-attr for="option.id"}}>{{option.label}}</label>
{{/each}}
