<ul {{bind-attr class=":user-list disabled"}}>
  {{#each user in _users}}
  <li>
    {{input type="checkbox" disabledBinding="view.disabled" checked=user.checked id=user.checkboxId}}
    <label {{bind-attr for=user.checkboxId}}>
      {{#if user.user.pictureUrl}}
      <img class="profile-image" {{bind-attr src="user.user.pictureUrl"}} />
      {{else}}
      <div class="profile-image no-profile"></div>
      {{/if}}
      <span class="name">{{user.user.name}}</span>
    </label>
  </li>
  {{/each}}
</ul>
