You're about to post the following photo: <br />
<img class="photo-preview" {{bind-attr src="box.photoPreviewURL"}} />
{{#if box.photoMessage}}
  <br />
  With the following message: {{box.photoMessage}}
{{/if}}
