<header> 
  <span class="menu-button mega-octicon octicon-three-bars"></span>
  <nav>
    {{link-to 'Panel' 'panel'}}
    {{link-to 'Manage App' 'manage_app'}}
    {{link-to 'Birthdays' 'birthdays'}}
    {{link-to 'Jobs' 'jobs'}}
    <a href="#" {{action 'reloadData'}}>Reload</a>
    {{#if loggedUser.isAdmin}}
    {{link-to 'Workers Log' 'workers_log'}}
    {{/if}}
    <a href="signout">Signout</a>
  </nav>
  <div class="logo"> {{link-to 'Social Manager' 'panel'}} </div>
  {{#if isAuthenticated}}
  {{#with loggedUser as user}}
    <div class="logged-user">
      <div class="text">
        {{user.name}}
      </div>
      <div class="image">
        {{#if user.pictureUrl}}
          <img {{action "select" this}} class="profile-image" {{bind-attr src="user.pictureUrl"}} />
        {{else}}
          <div {{action "select" this}} class="profile-image no-profile"></div>
        {{/if}}
      </div>
    </div>
  {{/with}}
  {{/if}}
</header>
<section>
  {{outlet}}
</section>
