Select: {{view "select" content=view.eventTypes selection=view.selectedEventType}}
<p>
  {{#if view.showPublishedEvents}}
  {{#if loggedUser.fbData.events_created}}
  {{ext-radio name="events" classNames="radio-blue" options=loggedUser.fbData.events_created optionLabelPath="name" selection=box.selectedEvent required="required"}}
  {{else}}
  You haven't created any events
  {{/if}}
  {{/if}}

  {{#if view.showEventId}}
  {{input value=view.fakeEvent.id required="required" placeholder="Event ID"}}
  {{/if}}
</p>
