<article>
  <h1>Birthdays</h1>
  <div class="birthdays-container">
    <section class="month-selector">
      <div class="month">
        <div>
          {{view "select" content=months optionLabelPath="content.name" selection=selectedMonth}}
        </div>
        <div class="header">
          <span>Sun</span>
          <span>Mon</span>
          <span>Tue</span>
          <span>Wed</span>
          <span>Thu</span>
          <span>Fri</span>
          <span>Sat</span>
        </div>
        <div {{bind-attr class="spacerClass"}}></div>
        {{ext-radio options=selectedMonth.days optionLabelPath="number" selection=selectedDay}}
      </div>
    </section>
    <section class="birthdays-list">
      {{#if selectedDay}}
      {{#each user in selectedDay.users}}
      <div>
        <img class="profile-image" {{bind-attr src="user.picture_url"}} />
        {{user.name}} ({{user.formatted_birthday}})
      </div>
      {{else}}
      No birthdays on this day
      {{/each}}
      {{/if}}
    </section>
  </div>
</article>
