<article class="completed">
  <h1>Action Completed</h1>
  Your action posted successfully and will be processed shortly.
  <br /><br />
  {{link-to "Start Over" "panel" class="blue-button"}}
</article>
