<article>
<h1>Jobs</h1>

<div class="jobs">
  {{#each job in content}}
  <div {{bind-attr class=":job job.done"}}>
    <div class="job-id">#{{job.id}}</div>
    <div class="job-title">
      {{job.action_name}} -
      {{job.job_state}}
    </div>
    <div class="job-created-at">created {{ago job.created_at}}</div>
    <div class="job-details">
      {{#each param in job.actionParams}}
      <strong>{{param.name}}</strong>: {{param.value}} <br />
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>

</article>
