{{#if loggedUser.fbData.statuses}}
{{ext-radio name="like_status_comment_statuses" classNames="radio-blue statuses" options=loggedUser.fbData.statuses optionLabelPath="message" selection=box.selectedStatus required="required"}}
{{#if box.selectedStatus}}
{{#if box.selectedStatus.comments}}
<br />
Comments:
{{ext-radio name="comments" classNames="radio-blue statuses" options=box.selectedStatus.comments optionLabelPath="message" selection=box.selectedComment required="required"}}
{{else}}
Selected status has no comments
{{/if}}
{{/if}}
{{else}}
No statuses
{{/if}}
