Statuses: {{view "select" content=view.userStatuses optionLabelPath="content.name" selection=view.selectedStatuses}}
<div>
  {{#if view.selectedStatuses.statuses}}
  {{ext-radio name="like_status_statuses" classNames="radio-blue statuses" options=view.selectedStatuses.statuses optionLabelPath="message" selection=box.selectedStatus required="required"}}
  {{else}}
  No statuses
  {{/if}}
</div>
