{{#if view.userHasVideos}}
  Album: {{view "select" content=view.userVideoAlbums optionLabelPath="content.name" selection=view.selectedVideoAlbum}}
  {{ext-image-radio name="videos" classNames="radio-photos" options=view.selectedVideoAlbum.videos optionLabelPath="picture" selection=box.selectedVideo required="required"}}
{{else}}
  You have no videos
{{/if}}
