{{#if view.userHasPhotos}}
Album: {{view "select" content=view.userAlbums optionLabelPath="content.name" selection=view.selectedAlbum}}
<div>
  {{#if view.selectedAlbum.photos}}
  {{ext-image-radio name="photos" classNames="radio-photos" options=view.selectedAlbum.photos optionLabelPath="picture" selection=box.selectedPhoto required="required"}}
  {{else}}
  No photos
  {{/if}}
</div>
{{else}}
You have no photos
{{/if}}
