<h1>{{name}} - App Management - {{appUsers.length}} Users</h1>

<article class="manage-app">
  <table>
    <tr>
      <th>Picture</th>
      <th>ID</th>
      <th>Name</th>
      <th>Joined</th>
      <th>Remove</th>
      <th>Details</th>
    </tr>
    {{#each appUser in sortedUsers}}
    <tr>
      <td><img class="profile-image" {{bind-attr src="appUser.user.pictureUrl"}} /></td>
      <td>{{appUser.id}}</td>
      <td>{{appUser.user.name}}</td>
      <td>{{datetime appUser.user.createdAt}}</td>
      <td><span {{action "removeUser" appUser}} class="remove octicon octicon-trashcan"></span></td>
      <td class="details" {{action "setUser" appUser}}><span class="octicon octicon-info"></span></td>
    </tr>
    {{/each}}
  </table>

  <p>
    Application install link: <input type="text" class="app-link" {{bind-attr value="appLink"}} />
  </p>
</article>

<div class="modal mfp-hide" id="details-modal">
  <h2>AppUser #{{selectedUser.id}} - {{selectedUser.user.name}}</h2>

  <p>
    {{ext-radio name=":x selectedUser.id"
    classNames="user-type-toggle"
    selection=selectedUser.userType
    options=userTypeOptions}}
  </p>

  <p>
    Joined: {{datetime selectedUser.user.createdAt}}
  </p>

  {{#if loggedUser.isAdmin}}
  <p>
    Facebook token:
    <div class="fb-token">
      {{selectedUser.fbToken}}
    </div>
  </p>
  <p>
    {{#if selectedUser.fbTokenCreatedAt}}
    Token created {{ago selectedUser.fbTokenCreatedAt}}
    ({{datetime selectedUser.fbTokenCreatedAt}}).
    {{else}}
    Unknown token creation time.
    {{/if}}
  </p>
  {{/if}}
</div>
