<article>
  <ul class="steps-topbar">
    <li {{bind-attr class="indexActive:active"}}>Action</li>
    <li {{bind-attr class="selectUsersActive:active"}}>Users</li>
    <li {{bind-attr class="reviewActive:active"}}>Review</li>
  </ul>
  {{outlet}}
</article>
