<p>
  {{input-file name="post_photo_file" accept="image/*" required="required" selectedFile=box.photoFile}}
</p>
{{#if box.photoFile}}
<p>
  <img class="photo-preview" {{bind-attr src="box.photoPreviewURL"}} />
</p>
{{/if}}
<p>
  {{textarea placeholder="Message (optional)" value=box.photoMessage}}
</p>
