@import 'nib'

// layout
@css {
  @viewport {
    width: device-width;
  }
}

body
  width: 100%
  height: 100%
  margin: 0 0
  padding: 0 0
  font-family: Tahoma
  font-size: 11px
  overflow-y: scroll

a
  color: white

header-height = 47px
header-border-width = 1px
header-background-color = #33549e
header
  background: header-background-color
  box-shadow: 0px 2px 2px #cccccc
  border-bottom: header-border-width solid darken(@background, 10%)
  line-height: header-height
  height: header-height
  padding: 0 9px
  color: white
  .logo
    display: inline-block
    margin-left: 7px
    font-size: 26px
    font-weight: bold
    text-shadow: 1px 1px 1px black
    a
      text-decoration: none
    @media all and (max-width: 380px)
      font-size: 19px
  .logged-user
    position: absolute
    top: 0px
    right: 5px
    .image
      float: right
    .text
      float: left
      margin-left: 5px
    .profile-image
      width: 40px
      height: 40px
      background-size: @width @height
      margin-left: 5px

article
  max-width: 786px
  margin: 0 auto
  @media all and (max-width: 786px)
    padding: 9px 8px

.hide
  display: none

// basic
ul
  margin: 0 0
  padding: 0 0
select
  border: 1px solid hsl(0%, 0%, 45%)
  padding: 1px 6px
  border-radius: 6px
h1
  font-size: 20px
  margin: 14px 0
  text-align: center
h2
  margin: 5px 0 6px 0
img
  vertical-align: middle
label
  cursor: pointer

input[type="number"]
  width: 42px

// user list
@keyframes show-user
  from
    width: 0px
.profile-image
  vertical-align: middle
  border-radius: 8px
  width: 50px
  height: 50px
.user-list
  display: flex
  flex-wrap: wrap
  list-style: none
  margin: 8px 0 0 0
  padding: 0 0
  overflow-y: auto
  overflow-x: hidden
  max-height: 430px
  @media all and (max-width: 400px)
    max-height: 365px
  &:not(.disabled) label
    cursor: pointer
  input
    display: none
    &:not(:disabled)
      & + label
        opacity: 0.5
      &:not(:checked) + label:hover
        opacity: 0.6
  li
    display: inline-block
    width: 130px
    margin: 8px auto
    // animation: show-user 0.6s
    user-select: none
    position: relative
    @media all and (max-width: 400px)
      text-align: center
      width: 72px
    input:checked + label
      opacity: 1.0
      &:before
        content: ""
        background: asset-url("mark.png") no-repeat
        width: 16px
        height: @width
        background-size: @width @width
        absolute: bottom 2px left 2px
    label
      transition: opacity 0.18s
      display: block
      .name
        display: inline-block
        overflow: ellipsis
        width: 74px
.profile
  width: 50px
  height: 50px
.no-profile
  display: inline-block
  width: 50px
  height: 50px
  background: asset-url("default_thumbnail.jpg")

.modal
  background: white
  padding: 15px 25px
  box-shadow: 1px 1px 5px rgba(47, 47, 47, 1)
  text-align: center
  margin: 0 auto

  &.new-group, &.delete-group
    width: 45%

  &.edit-group
    width: 70%

.steps
  .step
    display: none
    &.selected
      display: block

.blue-block
  display: block
  background: lighten(header-background-color, 20%)
  color: white
  border-radius: 5px
  padding: 10px
  margin: 5px 0
  white-space: pre

// radio styles
.radio-blue
  li:not(:last-child)
    margin-bottom: 2px
  input[type=radio]
    display: none
    & + label
      @extend .blue-block
      opacity: 0.5
      transition: 0.15s
      cursor: pointer
      user-select: none
      &:hover
        opacity: 0.6
    &:checked + label
      box-shadow: 0px 0px 3px black
      opacity: 1

.radio-photos
  user-select: none
  overflow: hidden
  ul
    list-style: none
  li
    float: left
    margin-right: 5px
    img
      height: 92px
      border: 1px solid white
      opacity: 0.55
      transition: opacity 0.4s
      &:hover
        opacity: 0.8
  input[type=radio]
    display: none
    & + label
      cursor: pointer
    &:checked + label img
      border: 1px solid black
      opacity: 1

.action-selector
  text-align: center

.radio-actions
  display: inline-block
  margin: 5px auto
  user-select: none
  width: 100%
  max-width: 500px
  font-size: 0px
  input
    display: none
  &.top label
    width: 33%
  label
    display: inline-block
    width: 23%
    line-height: 26px
    text-align: center
    letter-spacing: 0.7px
    border-top: 1px solid #CACACA
    border-bottom: 1px solid #CACACA
    border-right: 1px solid #CACACA
    background-image: linear-gradient(bottom, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.1))
    background-color: white
    cursor: pointer
    font-size: 11.5px
    &:hover
      background-color: darken(@background-color, 2)
    &:first-of-type
      border-top-left-radius: 7px
      border-bottom-left-radius: 7px
    &:last-of-type
      border-top-right-radius: 7px
      border-bottom-right-radius: 7px
  input:checked + label
    background-image: linear-gradient(top, rgba(0, 0, 0, 0.15), rgba(255, 255, 255, 0.1))

.statuses
  max-height: 320px
  overflow-y: auto
  overflow-x: hidden
  margin: 10px 0
  user-select: none
  label
    overflow: ellipsis
    width: 96%

.photo-preview
  width: 350px
  height: @width

.blue-button
  text-decoration none
  display: inline-block
  font-size: 11px
  border: 1px solid gray
  border-radius: 4px
  padding: 4px 14px
  background: linear-gradient(bottom, rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.3))
  background-color: #486DBE
  transition: background-color 0.6s
  color: white
  cursor: pointer
  &:disabled
    background-color: #B6B6B6

.menu-button
  cursor: pointer

nav
  position: absolute
  overflow: hidden
  user-select: none
  left: 0
  top: header-height + header-border-width
  background: darken(header-background-color, 15%)
  width: 0px
  height: 100%
  transition: width 0.25s
  z-index: 1000
  &.open
    width: 200px
    @media all and (max-width: 380px)
      width: 180px
  a
    display: block
    white-space: nowrap
    line-height: 30px
    text-decoration none
    font-size: 18px
    background: darken(@background, 20%)
    padding: 6px
    border-bottom: 1px solid lighten(@background, 10%)
    &:hover
      background: lighten(@background, 2%)
    @media all and (max-width: 380px)
      font-size: 15px

.users-bar
  overflow: hidden
  .groups
    float: left
  .searchable-input
    float: right
    position: relative
    & > div
      display: inline-block
    input
      border: none
      border-bottom: 1px solid hsl(0,0,70%)
      outline: none
      width: 30px
      transition: width 0.4s
      &:focus
        width: 140px
        border-color: hsl(0,0,10%)
        & + .clear-button
          opacity: 1
    .magnifier-icon
      content: ''
      background: asset-url("search.png")
      width: 16px
      height: 16px
      display: inline-block
      vertical-align: middle
      margin-right: 4px
    .clear-button
      absolute: top 2px right 0
      content: ''
      background: asset-url("clear.png")
      display: inline-block
      width: 16px
      height: 16px
      cursor: pointer
      opacity: 0
      transition: opacity 0.2s

.review
  input[type="range"]
    vertical-align: middle

.open-modal
  text-decoration: none
  @extend .blue-button

.manage-app
  h2
    margin: 15px 0

  table
    width: 100%
    text-align: center
    tr:nth-child(even)
      background: hsl(0,0,98)

  .remove, .details
    cursor: pointer

  .app-link
    text-align: center
    width: 100%
    padding: 4px 0
    cursor: pointer

article.completed
  text-align: center
  font-size: 14px

.month
  option-size = 26px
  option-margin = 4px
  option-color = #28468B
  width: (option-size * 7) + (option-margin * 7)
  user-select: none
  font-size: 0px
  select
    display: table
    margin: 0 auto
  .header
    font-size: 11px
    font-weight: bold
    text-align: center
    margin: 4px 0
    & > span
      display: inline-block
      width: option-size
  input
    display: none
    &:checked + label
      font-weight: bold
      background-color: darken(option-color, 40%)
    &.has-birthday + label
      background: #009AA0
    &:checked.has-birthday + label
      background: lighten(#009AA0, 10%)
  label
    text-align: center
    color: white
    font-size: 11px
    display: inline-block
    width: option-size
    line-height: option-size
    background: option-color
    margin: 0 option-margin option-margin 0
    transition: background-color 0.3s
    border-radius: 3px
  .spacer-0
    display: none
  for num in (1..6)
    .spacer-{num}
      display: inline-block
      width: (num * option-size) + (num * option-margin)

.birthdays-container
  display: table
  margin: 0 auto
.birthdays-list
  margin-top: 5px

textarea
  width: 99%
  height: 70px
  vertical-align: top

.full-button
  width: 100%
  height: 35px
  font-size: 12px
  font-weight: bold

.steps-topbar
  text-align: center
  margin: 3px 0 10px 0
  font-size: 0px
  li
    display: inline-block
    position: relative
    font-size: 14px
    color: white
    width: 160px
    line-height: 24px
    background-color: header-background-color
    transition: background-color 0.3s
    padding: 3px 5px
    @media all and (max-width: 540px)
      width: 90px
    &:not(:last-child):after
      content: ' '
      z-index: 100
      display: block
      width: 0
      height: 0
      position: absolute
      left: 100%
      top: 0
      transition: border-left-color 0.3s
      border-left: 15px solid @background-color
      border-top: 15px solid transparent
      border-bottom: 15px solid transparent
    &.active
      font-weight: bold
      background-color: lighten(header-background-color, 20%)
      &:after
        border-left-color: @background-color

.user-type-toggle
  font-size: 0
  user-select: none
  overflow: hidden
  display: inline
  input
    display: none
    &:checked + label
      background-color: header-background-color
      color: white
  label
    padding: 4px 6px
    font-size: 11px
    transition: 0.2s ease-out 
    background: #ccc
    border-radius: 3px
    &:first-of-type
      border-top-right-radius: 0
      display: inline-block
    &:last-of-type
      border-top-left-radius: 0
      border-bottom-left-radius: 0

.fb-token
  display: inline-block
  width: 260px
  word-wrap: break-word

.workers-log
  width: 97%
  margin: 0 auto

  pre
    overflow: auto
    font-size: 12px
    height: 500px

.job
  position: relative
  background: #EDEDED
  border-radius: 4px
  margin: 5px
  padding: 3px 5px
  overflow: hidden
  cursor: pointer
  &.done
    background: #4ED26E
  &.open .job-details
    max-height: 80px

.job-id
  display: inline-block
  width: 20px
  font-size: 18px
  width: 55px

.job-title
  display: inline-block

.job-created-at
  position: absolute
  top: 5px
  right: 5px

.job-details
  transition: 0.2s ease-out
  max-height: 0px
  overflow: auto
  line-height: 22px
