<h1>Admin Panel<h1>

<h2>Apps</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Num of managers</th>
    <th>Num of users</th>
  </tr>
  {{#each content}}
  <tr>
    <td>{{id}}</td>
    <td>{{name}}</td>
    <td>{{number_of_managers}}</td>
    <td>{{number_of_users}}</td>
  </tr>
  {{/each}}
</table>
