<div class="action-selector">
  {{ext-radio name="action-selector1" options=actions selection=selectedTopAction optionLabelPath="name" classNames="radio-actions top"}}
</div>
<div class="action-selector">
  {{ext-radio name="action-selector2" options=selectedTopAction.subActions selection=selectedAction optionLabelPath="label" classNames="radio-actions"}}
</div>

{{#if selectedAction}}
<form {{action "continue" on="submit"}}>
  {{view actionViewContainer viewName="actionView"}}
  <button class="blue-button full-button" {{bind-attr disabled="blocked"}}>Next</button>
</form> 
{{/if}}
