<form {{action "confirm" on="submit"}} class="review">
  <p>
    {{partial reviewPartialName}}
  </p>

  <p>
    You've selected {{numberOfUsersSelected}} to perform this action: <br/>
    {{user-selector name="review" users=selectedUsers disabled=true}}
  </p>

  <p>
    Start in: {{input type="number" min=0 max=1440 value=delay}} minutes
  </p>

  {{#if shouldShowDelayBetweenUsers}}
  <p>
    Wait {{input type="number" min=30 max=600 value=delayBetweenUsers}} seconds between each user
    {{#if shouldShowTotalActionTime}}
    (total time: {{totalActionTime}} minutes)
    {{/if}}
  </p>
  {{/if}}
  <p>
    Estimated completion: {{estimatedCompletionTime}}
  </p>
  <button class="blue-button full-button">Confirm</button>
</form>
