<div class="users-bar">
  <div class="groups">
    Group: {{view "select" content=groups optionLabelPath="content.name" selection=selectedGroup}}
  </div>
  {{searchable-input value=searchUsername}}
</div>
Total users selected: {{totalSelectedUsers}}
<div>
  <a href="#new-group-modal" class="open-modal">New group</a>
  <button class="blue-button" {{action "selectAll"}}>Select All</button>
  <button class="blue-button" {{action "selectNone"}}>Select None</button>
  <span {{bind-attr class="groupAllUsersSelected:hide"}}>
    <a href="#edit-group-modal" class="open-modal">Edit group {{selectedGroup.name}}...</a>
    <a href="#delete-group-modal" class="open-modal">Delete group {{selectedGroup.name}}...</a>
  </span>
</div>

<form {{action "continue" on="submit"}}>
  {{#if filteredUsers}}
  {{user-selector name="select_users" register=userSelector users=filteredUsers selectedUsers=selectedUsers}}
  {{else}}
  {{#if searchUsername}}
  No users matching "{{searchUsername}}"
  {{else}}
  You've selected an empty group
  {{/if}}
  {{/if}}
  <br />
  <button class="blue-button full-button" {{bind-attr disabled="blocked"}}>Next</button>
</form>

<form id="edit-group-modal" class="modal edit-group mfp-hide">
  <h1>Edit Group - {{selectedGroup.name}}</h1>
  <div>
    Add Users:
    {{user-selector name="add_to_group" users=availableUsers selectedUsers=selectedUsersToAdd}}
    <br />
    <button {{action "addUsersToGroup"}}>Add Users</button>
  </div>
  <div>
    Remove Users:
    {{user-selector name="remove_from_group" users=selectedGroupUsers selectedUsers=selectedUsersToRemove}}
    <br />
    <button {{action "removeUsersFromGroup"}}>Remove Users</button>
  </div>
</form>

<form id="delete-group-modal" class="modal delete-group mfp-hide">
  <h1>Delete Group</h1>
  Are you sure you want to delete group "{{selectedGroup.name}}"?
  {{!--
  Select Users:
  {{user-selector name="create_group" users=allUsers selectedUsers=selectedUsersToAdd}}
  --}}
  <br />
  <button class="blue-button" {{action "deleteGroup"}}>Yes</button>
  <button>No</button>
</form>

<form id="new-group-modal" class="modal new-group mfp-hide" {{action "createGroup" on="submit"}}>
  <h2>New Group</h2>
  {{input id="group-name" value=newGroupName required="required" placeholder="Name"}}
  {{!--
  Select Users:
  {{user-selector name="create_group" users=allUsers selectedUsers=selectedUsersToAdd}}
  --}}
  <br />
  <button>Create Group</button>
</form>
